.feedback {
   padding-top: 150px;
   padding-bottom: 150px;
}
.feedback__title {
   max-width: 630px;
   margin: 0 auto 45px auto;

   font-family: Cardo, serif;
   font-size: 70px;
   font-weight: 700;
   line-height: 1;
   text-align: center;
   color: #232323;
}
.feedback__swiper {
}
.swiper {
 
}
.feedback__swiper-wrapper {
}
.feedback__swiper-slide {
   text-align: center;

   &:not(:last-child) {
      margin-right: 17px;
   }
}

.swiper-wrapper {
}
.swiper-slide {
}
.feedback__card {
   max-width: 395px;

   padding-top: 80px;
   padding-bottom: 72px;

   border: 3px solid rgba(35, 35, 35, 1);
   border-radius: 15px;
}
.feedback__card-block {
   display: flex;
   flex-direction: column;
   align-items: center;

   padding: 0 44px;
}

.feedback__img {
   position: relative;

   width: 130px;
   height: 130px;
   margin-bottom: 50px;

   border-radius: 50%;
   background-color: #232323;
}

.feedback__svg {
   position: absolute;
   top: 80%;
   left: 50%;

   transform: translate(-50%, -50%);

   fill: white;
}

.fedback__name {
   margin-bottom: 24px;

   font-size: 25px;
   font-weight: 700;
   line-height: 1.1875;
   text-align: center;
   color: #232323;
}
.feedback__text {
   font-size: 15px;
   font-weight: 400;
   line-height: 1.1875;
   text-align: center;
   color: #232323;
}
.swiper-button-prev {
}
.swiper-button-next {
}

