.header {
  padding-top: 40px;
  &__wrapper {
    
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    padding: 10px 60px;
    font-size: 22px;
    font-weight: bold;
    color: var(--mine-black);
    border: solid 3px var(--mine-black);
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
  }
}
img {
  height: 100px;
  width: 100px;
}

.nav {
  display: flex;
  &__list {
    display: flex;
    align-items: center;
    font-size: 22px;
  }
  &__item {
    margin-right: 75px;
    &:last-child {
      margin: 0;
    }
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__link {
    color: var(--mine-black);

    &:hover {
      font-weight: bold;
    }
  }
}

@media (max-width: #{$md1}px) {
  .header {
  }
}
@media (max-width: #{$md2}px) {
  .header {
  }
}
@media (max-width: #{$md3}px) {
  .header {
  }
  .nav {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    background: white;
    margin-left: -110%;
    transition: all 1s ease-in-out 0s;
    
    &._menu-open {
      margin-left: 0%;
    }
    &__list {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin: 0;
    }
    &__link {
      display: block;
      padding: 15px 0;
    }
  }
}

//<БУРГЕР>============================
.icon-menu {
  display: none;

  @media (max-width: #{$md3}px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
//<БУРГЕР>============================
