.photos {
  background: left -8% top 99%/10% no-repeat url(@img/scribble/scribble-dark-photo-1.png),
    right -4% bottom -72%/9.5% no-repeat
      url(@img/scribble/scribble-dark-photo-2.png);
  &__container {
    padding-top: 100px;
    padding-bottom: 170px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: calc((100% - 120px) / 3);
  }
  &__photo {
  }
  .photo {
    width: 100%;
    height: 200px;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__line {
    height: 2px;
    width: 55px;
    margin-top: 25px;
    background: var(--mine-black);
  }
  &__title {
    font-family: Cardo;
    font-size: 40px;
    margin-top: 24px;
    line-height: 92%;
    font-weight: bold;
  }
  &__text {
    margin-top: 30px;
  }
}

@media (max-width: #{$md1}px) {
  
}
@media (max-width: #{$md2}px) {
  .photos {
    &__container {
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-top: 40px;
      width: 80%;
    }
    &__photo {
    }
    .photo {
    }
    &__line {
    }
    &__title {
      margin-top: 10px;
    }
    &__text {
      margin-top: 10px;
    }
  }
}
@media (max-width: #{$md3}px) {
 
}
@media (max-width: #{$md4}px) {
  .photos {
    
    &__item {
 
      width: 100%;
    }
   
  }
}