.remember {
  // background: var(--mine-black);
  &__container {
    padding-top: 54px;
    padding-bottom: 54px;
    display: flex;
    justify-content: center;
    background: left -19% top 29%/38% no-repeat url(./../assets/img/scribble/scribble-light-remember.png),
   var(--mine-black) right -18% bottom 18%/40%  no-repeat url(./../assets/img/scribble/scribble-light-2-remember.png);
  }
 
  &__center {
    color: var(--mine-white);
    flex: 1 1 auto;
    max-width: 439px;
    text-align: center;
  }
  &__title {
    font-size: 63px;
    line-height: 59px;
    font-family: Cardo-Bold;
  }
  &__text {
    margin-top: 33px;
  }
  &__btn {
    margin-top: 36px;
    padding: 10px 61px;
    font-size: 22px;
    font-weight: bold;
    color: var(--mine-white);
    outline: solid 3px var(--mine-white);
    background: var(--mine-black);
    border-radius: 5px;
    &:active{
      background: var(--hover-black);
      outline: solid 2px var(--mine-white);
    }
  }
 
}
