//<обнуление общие параметры>===================
@import "null";
// @import "fonts";
@import "icons";
@import "variables";

body {
  color: var(--mine-black);
  font-size: 16px;
  &._lock {
    overflow: hidden;
  }
}

* {
  font-family: Lato;
}

//<ПЕРЕМЕННЫЕ>==================================
$minWidht: 320px;
$maxWidht: 1920;
$maxWidhtConteiner: 1222;
$md1: $maxWidhtConteiner+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ОСНОВНАЯ СЕТКА>===================
._container {
  max-width: $maxWidhtConteiner + px;
  margin: 0 auto;
  padding: 0 12px;
  @media (max-width: #{$md1}px) {
    max-width: 970px;
  }
  @media (max-width: #{$md2}px) {
    max-width: 750px;
  }
  @media (max-width: #{$md3}px) {
    max-width: none;
    padding: 0 10px;
  }
}

@import "_header";

@import "footer";



._active {
  color: #fc3f3f;
}
