//<обнуление общие параметры>===================
@import "null";
// @import "fonts";
@import "icons";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato:ital,wght@0,700;1,400&display=swap');

body {
  color: var(--mine-black);
  font-size: 16px;
  &._lock {
    overflow: hidden;
  }
}

* {
  font-family: Lato;
}

//<ПЕРЕМЕННЫЕ>==================================
$minWidht: 320px;
$maxWidht: 1920;
$maxWidhtConteiner: 1200;
$md1: $maxWidhtConteiner+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ОСНОВНАЯ СЕТКА>===================
._container {
  max-width: $maxWidhtConteiner + px;
  margin: 0 auto;
  padding: 0px 0px;
  @media (max-width: #{$md1}px) {
    padding: 0px 30px;
    //max-width: 970px;
  }
  @media (max-width: #{$md2}px) {
    padding: 0px 10px;
    margin: 0;
    //max-width: 750px;
  }
  @media (max-width: #{$md3}px) {
    max-width: none;
    padding: 0 10px;
  }
}

@import "_header";

@import "_travel";

@import "_remember";

@import "_photos";
@import "_never";

@import "footer";



._active {
  color: #fc3f3f;
}
.photo {
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}